<!-- Menu  -->
<nav class="fixed w-full z-20 top-0 start-0 border-b bg-gray-950  ">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a [routerLink]="Rutas.Inicio" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl whitespace-nowrap font-bold text-red-700 ">GymPro</span>
    </a>
    <!--    Botones para incir seccion y registrase-->
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">

      <div class="flex items-center space-x-4">
        <button class="bg-blue-500  hover:bg-blue-900 hover:text-blue-500 text-white py-1 px-4 rounded-lg"
                (click)="btnLogin()">
          {{ role !== null ? "Cerrar sesión" : "Iniciar sesión" }}
        </button>
        @if (role === null) {
          <span [routerLink]="['/auth/SignUp']"
                class="border border-blue-500 text-blue-700 hover:bg-blue-700 hover:text-white py-1 px-4 rounded-lg">
            Registrarse
          </span>
        }
      </div>
      <!--    Boton para abirir el Menu de  Pantallas pequeñas-->

      <button (click)="BotonMenu()"
              type="button"
              class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="navbar-sticky">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div [class.hidden]="!MenuAbierto"
         class="items-center justify-between w-full md:flex md:w-auto md:order-1"
         id="navbar-sticky">
      <ul
        class="flex flex-col tex-white p-4 md:p-0 mt-4 font-medium  rounded-lg  md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
<!--         <ul-->
<!--        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg  md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">-->
<!--       -->
        <li>
          <a [routerLink]="Rutas.Inicio"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{exact: true}"
             class="nav-link text-gray-30">
            Inicio
          </a>
        </li>
        <li>
          <a [routerLink]="Rutas.Membresias"
             routerLinkActive="active-link"
             class="nav-link text-gray-30">
            Membresias
          </a>
        </li>
        <!--          ACCESO SOLO PARA Clientes-->
        @if (role == Roles.Client) {
          <li>
            <a [routerLink]="Rutas.Historial"
               routerLinkActive="active-link"
               class="nav-link">
              Mis Suscripciones
            </a>
          </li>
        }
        <!--          ACCESO SOLO PARA ADMINISTRADORES-->
        @if (role == Roles.Admin) {
          <li>
            <a [routerLink]="Rutas.ClientesAdmin"
               routerLinkActive="active-link"
               class="nav-link">
              Clientes
            </a>
          </li>
          <li>
            <a [routerLink]="Rutas.Reportes"
               routerLinkActive="active-link"
               class="nav-link">
              Reportes
            </a>
          </li>
        }
      </ul>
    </div>

  </div>
</nav>

