<div class="flex justify-center items-center min-h-screen bg-gray-900 pt-18 p-6">
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
    @for (membresia of membresias; track membresia.id) {
      <div
        class="relative bg-gray-800 shadow-xl rounded-xl overflow-hidden transition-all duration-300 hover:translate-y-1 hover:shadow-indigo-500/20 p-8
        {{clienteActualMembresias?.includes (membresia.id.toString()) ? 'border-2 border-green-500 shadow-green-500/20' : ''}}">

        @if (clienteActualMembresias?.includes (membresia.id.toString())) {
          <div class="absolute top-4 right-4 bg-green-500 text-xs font-bold text-white px-2 py-1 rounded-full">
            ACTIVA
          </div>
        }

        <div
          class="absolute top-0 left-0 w-full h-24 bg-gradient-to-br from-indigo-500/40 to-purple-500/20 opacity-40"></div>

        <h2 class="text-3xl font-extrabold text-center text-white mt-6">{{ membresia.Nombre }}</h2>
        <p class="text-center text-gray-300 mt-2 text-sm">{{ membresia.publicoObjectivo }}</p>

        <div class="text-center my-6 py-4 border-y border-gray-700">
          <span class="text-5xl font-black text-indigo-300">{{ membresia.Precio }}</span>
          <span class="text-sm text-gray-300 ml-1">/{{ ObtenerTiempoMembresia(membresia) }}</span>
        </div>

        <ul class="text-gray-200 space-y-3 mt-6 mb-8">
          @for (ofrece of membresia.Descripcion.slice(0, -1).split('.'); track $index) {
            <li class="flex items-start">
              <span class="inline-flex justify-center items-center min-w-6 h-6 mr-3 bg-indigo-500/30 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-indigo-300" viewBox="0 0 20 20"
                     fill="currentColor">
                  <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"/>
                </svg>
              </span>
              <span class="text-sm">{{ ofrece }}</span>
            </li>
          }
        </ul>

        @if (role !== Roles.Admin) {

          @if (clienteActualMembresias.length > 0) {
            <!--            Suscripcion activa -->
            @if (clienteActualMembresias.includes(membresia.id.toString())) {
              <button
                [routerLink]="Rutas.ClienteHistorial"
                class="w-full py-3 bg-gradient-to-r from-green-500 to-blue-400 text-white font-medium rounded-lg
            hover:from-indigo-400 hover:to-blue-300 transition-all duration-300
             text-center inline-block">
                ACTIVA
              </button>
            } @else {
              <!--            Ya tienes una suscripcion-->
              <button
              disabled
                class="w-full py-3 bg-gradient-to-r from-indigo-500 to-blue-400 text-white font-medium rounded-lg
            hover:from-indigo-400 hover:to-blue-300 transition-all duration-300 disabled:from-gray-700"
              >
                Ya tienes una membresia
              </button>
            }
          }
          @else{
            <button
            [routerLink]="[Rutas.AdquirirSuscripcion,membresia.id]"
              class="w-full py-3 bg-gradient-to-r from-indigo-500 to-blue-400 text-white font-medium rounded-lg
            hover:from-indigo-400 hover:to-blue-300 transition-all duration-300 disabled:from-gray-700
             text-center inline-block">
              Elegir plan
            </button>
          }
        } @else {
          <button
            class="w-full py-3 bg-gradient-to-r from-indigo-500 to-blue-400 text-white font-medium rounded-lg
            hover:from-indigo-400 hover:to-blue-300 transition-all duration-300 disabled:from-gray-700
             text-center inline-block">
            Elegir plan
          </button>
        }

      </div>
    }
  </div>

  @if (membresias.length === 0) {
    <div class="text-center bg-gray-800 p-12 rounded-xl shadow-2xl max-w-2xl mx-auto">
      <div class="inline-flex justify-center items-center w-16 h-16 mb-6 bg-orange-400/20 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-orange-400" fill="none" viewBox="0 0 24 24"
             stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
        </svg>
      </div>
      <p class="font-extrabold text-orange-400 text-lg">Upps</p>
      <h1 class="mt-4 text-balance text-4xl sm:text-5xl font-bold tracking-tight text-white">
        ¿Dónde están las membresías?</h1>
      <p class="mt-6 text-pretty text-base text-orange-200 max-w-lg mx-auto">
        Desafortunadamente no tenemos membresías disponibles en este momento.
        Por favor, vuelve a revisar más tarde.
      </p>
    </div>
  }
</div>

