<div class="flex justify-center items-center min-h-screen bg-gray-950 text-white p-6">

<div class="w-full max-w-4xl p-6 mx-auto">
  <h2 class="text-center text-2xl font-semibold mb-4">Clientes</h2>
  <div class="bg-gray-800 rounded-lg overflow-hidden">
    <table class="w-full text-left border-collapse">
      <thead>
      <thead>
      <tr class="bg-gray-700 text-white">
        <th class="px-6 py-3">Nombre</th>
        <th class="px-6 py-3">Email</th>
        <th class="px-6 py-3">Membresia</th>
        <th class="px-6 py-3">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr class="border-t border-gray-700">
        <td class="px-6 py-3">Juan Pérez</td>
        <td class="px-6 py-3">juan&#64;example.com</td>
        <td class="px-6 py-3">Mensual</td>
        <td class="px-6 py-3">
          <button class="bg-yellow-500 text-black px-3 py-1 rounded">Pagos</button>
          <button class="bg-green-50 text-black px-3 py-1 rounded ml-2">Detalles</button>
        </td>
      </tr>
      <tr class="border-t border-gray-700">
        <td class="px-6 py-3">Juana Pérez</td>
        <td class="px-6 py-3">Anual</td>
        <td class="px-6 py-3">123-406-7890</td>
        <td class="px-6 py-3">
          <button class="bg-yellow-500 text-black px-3 py-1 rounded">Pagos</button>
          <button class="bg-green-50 text-black px-3 py-1 rounded ml-2">Detalles</button>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
